@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  cursor: url('/assets/base_cursor.png'), auto;
  color: white;
}

.bg-black {
  background-color: #292929;
}

.base-cursor {
  cursor: url('/assets/base_cursor.png'), auto;
}

.zombie:hover {
  cursor: url('/assets/cursor.png'), auto;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.creepster {
  font-family: "Creepster", system-ui;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.zoom-in {
  animation: zoomIn 0.5s forwards;
}

.zoom-out {
  animation: zoomOut 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}