@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  user-select: none; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  cursor: url('/assets/base_cursor.png'), auto;
}

.zombie:hover {
  cursor: url('/assets/cursor.png'), auto;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.creepster {
  font-family: "Creepster", system-ui;
}

